.day1{
    width: 600px;
    height: 400px;
    background-color: pink;
    display: flex;  //垂直居中
    .son{
        width: 300px;
        height: 200px;
        margin: auto; //垂直居中
        background-color: gray; 

    }
}

.day2{
    width: 500px;
    height: 1400px;
    margin: auto;
    background-color: #ffffff;
}

.day3{
    width: 600px;
    background-color: aqua;
    margin: auto;
    opacity: 0.6;
    padding: 20px;
    .ipt{
       width: 280px; 
       margin-left: 30px;
    }
}